@keyframes main-loader {
  0% {
    opacity: 0.1;
    z-index: -1;
  }
  80% {
    opacity: 0.1;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@keyframes letter-rotation {
  0% {
    opacity: 1;
    z-index: 1;
    transform: rotateY(0.5turn);
  }
  70% {
    opacity: 1;
    z-index: 1;
    transform: rotateY(2turn);
  }
  90% {
    opacity: 1;
    z-index: 1;
    transform: rotateY(2turn);
  }
  100% {
    opacity: 0;
    z-index: -1;
    transform: rotateY(2turn);
  }
}
@keyframes loader-bar {
  0% {
    opacity: 1;
    z-index: 1;
  }
  80% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes progress-bar {
  0% {
    opacity: 1;
    z-index: 1;
  }
  10% {
    opacity: 1;
    z-index: 1;
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(0.13);
  }
  30% {
    transform: scaleX(0.26);
    animation-timing-function: linear;
  }
  40% {
    transform: scaleX(0.39);
    animation-timing-function: linear;
  }
  50% {
    transform: scaleX(0.52);
  }
  55% {
    transform: scaleX(0.65);
    animation-timing-function: linear;
  }
  60% {
    transform: scaleX(0.78);
  }
  70% {
    transform: scaleX(1);
    opacity: 1;
    z-index: 1;
    animation-timing-function: linear;
  }
  80% {
    transform: scaleX(1);
    opacity: 1;
    z-index: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes trans-heart {
  0% {
    color: #ffffff;
  }
  100% {
    color: #bc95e9;
  }
}
@keyframes items {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes item-click {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
/*index*/
/*card*/
/*rxxx*/
.main-index {
  opacity: 1;
  z-index: 1;
  animation: main-loader 3000ms;
}

.spin-title {
  position: fixed;
  top: 40%;
  left: 15%;
  width: 70%;
  text-align: center;
  font-family: "Shrikhand";
  color: #000000;
  font-weight: bold;
  font-size: 1.8rem;
}
.spin-title__letter {
  opacity: 0;
  z-index: -1;
  display: inline-block;
  transform: rotateY(0turn);
}
.spin-title__letter--1 {
  animation: letter-rotation 2800ms 200ms;
  color: #7d34d5;
}
.spin-title__letter--2 {
  animation: letter-rotation 2600ms 400ms;
  color: #8038d6;
}
.spin-title__letter--3 {
  animation: letter-rotation 2400ms 600ms;
  color: #8b49d9;
}
.spin-title__letter--4 {
  animation: letter-rotation 2900ms 100ms;
  color: #7129c7;
}
.spin-title__letter--5 {
  animation: letter-rotation 2700ms 300ms;
  color: #7b30d4;
}
.spin-title__letter--6 {
  animation: letter-rotation 2300ms 700ms;
  color: #521e90;
}
.spin-title__letter--7 {
  animation: letter-rotation 2900ms 100ms;
  color: #59209c;
}
.spin-title__letter--8 {
  animation: letter-rotation 2500ms 500ms;
  color: #9052db;
}

.bar {
  z-index: -1;
  opacity: 0;
  position: relative;
  animation: loader-bar 3000ms;
  position: fixed;
  top: 50%;
  left: 15%;
  border: 2px solid #000000;
  height: 10px;
  width: 70%;
}
.bar--progression {
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to right, #ff83dd, #985ede);
  transform: scaleX(0);
  transform-origin: left;
  animation: progress-bar 3000ms;
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1340px;
  margin: 0 auto;
  font-family: "Roboto", "Shrikhand", Arial, Helvetica, sans-serif;
}

.card-rest {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #e6e6e6;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  height: 250px;
  text-decoration: none;
  color: #000000;
  position: relative;
}
@media screen and (min-width: 669px) and (max-width: 991px) {
  .card-rest {
    max-width: 350px;
    margin: 0 10px 18px;
  }
}
@media screen and (min-width: 992px) {
  .card-rest {
    margin: 0 10px 18px;
  }
}
.card-rest:not(:last-child) {
  margin-bottom: 18px;
}
.card-rest:hover {
  box-shadow: 3px 3px 3px #9a9a9a;
  background: linear-gradient(to bottom right, white, white);
}
.card-rest__new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #1b6150;
  position: absolute;
  top: 15px;
  right: 12px;
  background-color: #99E2D0;
  padding: 0px 0;
  width: 80px;
  height: 30px;
  border-radius: 0;
}
.card-rest__pocket {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 175px;
  overflow: hidden;
  margin-bottom: 20px;
}
.card-rest__pocket--img-cover {
  object-fit: cover;
  width: 100%;
  height: 175px;
}
.card-rest__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px 20px;
}
.card-rest__description--weight {
  font-weight: bold;
}
.card-rest__description--color {
  color: #676767;
}
.card-rest__description__button {
  position: relative;
  width: 38px;
  text-align: center;
  border: none;
  background: none;
}
.card-rest__description__button__heart {
  position: absolute;
  top: 0;
  right: 7px;
  color: #676767;
  font-size: 1.5rem;
  z-index: 1;
}
.card-rest__description__button:hover .card-rest__description__button__heart--colored {
  z-index: 1;
  opacity: 1;
  animation: trans-heart 500ms ease-in;
}
.card-rest__description__button__heart--colored {
  position: absolute;
  top: 0;
  right: 7px;
  font-size: 1.5rem;
  color: #bc95e9;
  z-index: -1;
  opacity: 0;
  transition: opacity;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 11px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  padding: 25px;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__container {
  display: grid;
  grid-template-columns: 23px auto;
  align-items: center;
}
.footer__container--size-i {
  font-size: 0.8rem;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  margin-bottom: 3px;
}
header img {
  height: 1.8rem;
}

.header-restxxx {
  position: relative;
}
.header-restxxx__a--font {
  color: #4d4d4d;
  font-size: 1.2rem;
  position: absolute;
  top: 22px;
  left: 25px;
}

.flyer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flyer__pocket {
  width: 100%;
  height: 260px;
  overflow: hidden;
}
.flyer__pocket--img-cover {
  object-fit: cover;
  width: 100%;
  height: 260px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: #f3f3f3;
  border-radius: 35px 35px 0 0;
  margin-top: -40px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  margin: 40px 35px 40px 20px;
  font-family: "Shrikhand";
  font-size: 1.1rem;
}
@media screen and (max-width: 369px) {
  .menu__title {
    flex-direction: column;
    align-items: center;
  }
}
.menu__title__heart {
  color: #676767;
  margin-top: 5px;
  font-size: 1.5rem;
}
.menu__list {
  display: flex;
  flex-direction: column;
  margin: 0 10px 45px 13px;
}
.menu__list__title {
  margin-left: 8px;
  text-transform: uppercase;
  color: #676767;
}
.menu__list__green-line {
  margin: 9px 10px 13px 8px;
  background-color: #99E2D0;
  padding: 0 0;
  width: 40px;
  height: 4px;
  border-radius: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #ffffff;
  text-decoration: none;
  position: relative;
  padding: 0 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.item:not(:last-child) {
  margin-bottom: 12px;
}
.item:hover {
  box-shadow: 3px 3px 3px #9a9a9a;
  background: linear-gradient(to bottom right, white, white);
}
.item:hover .item__description__choice-button {
  width: 72px;
}
.item:hover .click__check {
  animation: item-click 500ms both;
}
.item:hover .item__description__price {
  right: 72px;
}
.item:hover .item__description__price--amount {
  margin-right: 10px;
}
.item:hover .item__description {
  transition: 500ms;
  width: 60%;
}
.item:hover .item__description--font {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__description {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 12px;
  width: 80%;
}
@media screen and (max-width: 369px) {
  .item__description {
    width: 70%;
  }
}
.item__description--font {
  color: #1a1a1a;
  margin-bottom: 2px;
  font-size: 1.1rem;
  font-weight: bold;
}
.item__description--color {
  color: #676767;
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__description__price {
  color: #1a1a1a;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
  position: absolute;
  right: 0;
  transition: right 500ms;
  border-radius: 0 15px 15px 0;
  width: 72px;
  height: 100%;
  font-weight: bold;
}
.item__description__price--amount {
  margin: 0 25px 15px 0;
  transition: margin-right 500ms;
}
.item__description__choice-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  border-radius: 0 15px 15px 0;
  width: 0;
  transition: width 500ms;
  height: 100%;
  background-color: #99E2D0;
  overflow: hidden;
}
.item__description__choice-button__check {
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #99E2D0;
  background-color: #ffffff;
  font-size: 1.2rem;
  width: 29px;
  padding: 5px 0;
  text-align: center;
}

.click__check {
  transform: rotate(0turn);
}

.load__item--1 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 100ms;
}
.load__item--2 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 200ms;
}
.load__item--3 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 300ms;
}
.load__item--4 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 400ms;
}
.load__item--5 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 500ms;
}
.load__item--6 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 600ms;
}
.load__item--7 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 700ms;
}
.load__item--8 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 800ms;
}
.load__item--9 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 900ms;
}
.load__item--10 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 1000ms;
}
.load__item--11 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 1100ms;
}
.load__item--12 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 1200ms;
}
.load__item--13 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 1300ms;
}
.load__item--14 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 1400ms;
}
.load__item--15 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 1500ms;
}
.load__item--16 {
  animation: items 600ms ease-in-out backwards;
  animation-delay: 1600ms;
}

.command {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin: auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin: 0 auto 60px;
  padding: 15px 0;
  width: 186px;
  height: 20px;
  border-radius: 40px;
}
.command:hover {
  box-shadow: 3px 3px 3px #858585;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
}

.locate {
  display: flex;
  justify-content: center;
  height: 49px;
  align-items: center;
  box-shadow: 0px 5px 5px #cccccc inset;
  background-color: #e6e6e6;
}
.locate__i {
  margin: 0 15px 0 10px;
}
.locate__input {
  background-color: #e6e6e6;
  border: none;
}

.teaser {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 53px;
  padding: 43px 30px 57px 40px;
  background-color: #f3f3f3;
}
.teaser__title {
  font-weight: bold;
  margin: 0 25px 22px;
}
.teaser__discover {
  margin-bottom: 30px;
  color: #676767;
}
.teaser__explore {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin: auto;
  padding: 15px 0;
  width: 218px;
  height: 20px;
  border-radius: 40px;
}
.teaser__explore:hover {
  box-shadow: 3px 3px 3px #858585;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
}

.steps {
  display: flex;
  flex-direction: column;
  margin-bottom: 77px;
}
.steps__title {
  font-weight: bold;
  margin: 0 20px 22px;
}
.steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 30px;
}
@media screen and (min-width: 992px) {
  .steps__list {
    flex-direction: row;
    justify-content: space-around;
  }
}
.steps__list__item {
  padding: 25px 0;
  width: 325px;
  height: 20px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #e6e6e6;
  position: relative;
}
@media screen and (max-width: 369px) {
  .steps__list__item {
    padding: 25px 0;
    width: 260px;
    height: 20px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 992px) {
  .steps__list__item {
    padding: 25px 0;
    width: 280px;
    height: 20px;
    border-radius: 25px;
  }
}
.steps__list__item:not(:last-child) {
  margin: 0 auto 22px;
}
.steps__list__item:last-child {
  background-color: #f2eafb;
}
.steps__list__item__i {
  position: absolute;
  left: 35px;
}
.steps__list__item__label {
  position: absolute;
  left: 75px;
}
.steps__list__item__number {
  position: absolute;
  left: -4px;
  top: 23px;
  background: #9356DC;
  color: #ffffff;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 4px 8px 2px;
}

.preview {
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
  background-color: #f3f3f3;
}
.preview__title {
  padding-top: 60px;
  margin: 0 20px 28px;
  font-weight: bold;
}
.preview__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
@media screen and (min-width: 669px) {
  .preview__list {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
