.main-index {
    opacity: 1;
    z-index: 1;
    animation: main-loader $duration;
}

.spin-title {
    position: fixed;
    top: 40%;
    left: 15%;
    width: 70%;
    text-align: center;
    font-family: 'Shrikhand';
    color: #000000;
    font-weight: bold;
    font-size: 1.8rem;
    &__letter {
        opacity: 0;
        z-index: -1;
        display: inline-block;
        transform: rotateY(0turn);
        @for $i from 1 through $num-spin-letter {
            &--#{$i} {
                animation: letter-rotation map-get($map-spinner, $i);
                @include color-darken ($color_primary, random(30));
            }
        }
    }
}

.bar {
    z-index: -1;
    opacity: 0;
    position: relative;
    animation: loader-bar $duration;
    position: fixed;
    top: 50%;
    left: 15%;
    border: 2px solid #000000;
    height: 10px;
    width: 70%;
    &--progression {
        z-index: -1;
        opacity: 0;
        background: linear-gradient(to right, #ff83dd, #985ede);
        transform: scaleX(0);
        transform-origin: left;
        animation: progress-bar $duration;
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        width: 100%;
    }
}