.teaser {
    margin-bottom: 53px;
    background-color: lighten($color: $color_background, $amount: 45);
}

.steps {
    margin-bottom: 40px;
    text-align: center;
}

.preview {
    padding-bottom: 47px;
    background-color: lighten($color: $color_background, $amount: 45);
    &__title {
        padding-top: 60px;
        margin: 0 20px 28px;
        font-weight: bold;
    }
}