.locate {
    display: flex;
    justify-content: center;
    height: 49px;
    align-items: center;
    box-shadow: 0px 5px 5px #cccccc inset;
    @include backcolor-lighten($color_background, 40);
    &__i {
        margin: 0 15px 0 10px;
    }
    &__input {
        @include backcolor-lighten($color_background, 40);
        border: none;
    }
}

.teaser {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 53px;
    padding: 43px 30px 57px 40px;
    @include backcolor-lighten($color_background, 45);
    &__title {
        font-weight: bold;
        margin: 0 25px 22px;
    }
    &__discover {
        margin-bottom: 30px;
        @include color-darken($color_background, 10);
    }
    &__explore {
        text-decoration: none;
        color: $color_reverse;
        font-weight: bold;
        background: linear-gradient(to bottom right, $color_secondary, $color_primary);
        margin: auto;
        @include button-index(15px, 218px, 20px, 40px);
        &:hover {
            @include button-hover($color_background, $color_primary, $color_secondary, 2);
        }
    }
}

.steps {
    display: flex;
    flex-direction: column;
    margin-bottom: 77px;
    &__title {
        font-weight: bold;
        margin: 0 20px 22px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 0 30px;
        @include media-steps__list;
        &__item {
            @include button-index(25px, 325px, 20px, 25px);
            box-shadow: 5px 5px 5px lighten($color_background, 40);
            position: relative;
            @include media-steps__list__item;
            &:not(:last-child) {
                margin: 0 auto 22px;
            }
            &:last-child {
                @include backcolor-lighten ($color_primary, 35);
            }
            &__i {
                position: absolute;
                left: 35px
            }
            &__label {
                position: absolute;
                left: 75px
            }
            &__number {
                position: absolute;
                left: -4px;
                top: 23px;
                background: $color_primary;
                color: $color_reverse;
                font-size: 0.8rem;
                border-radius: 50%;
                padding: 4px 8px 2px;
            }
        }
    }
}

.preview {
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    @include backcolor-lighten($color_background, 45);
    &__title {
        padding-top: 60px;
        margin: 0 20px 28px;
        font-weight: bold;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
        @include media-preview__list;
    }
}