.locate {
    display: flex;
    justify-content: center;
    height: 49px;
    align-items: center;
    @include backcolor-lighten($color_background, 40);
    &__i {
        margin: 0 15px 0 92px;
    }
    &__input {
        @include backcolor-lighten($color_background, 40);
        border: none;
    }
}

.teaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 53px;
    @include backcolor-lighten($color_background, 45);
    &__title {
        @include font-bold;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    &__title {
        @include font-bold;
    }
}

.preview {
    padding-bottom: 47px;
    @include backcolor-lighten($color_background, 45);
    &__title {
        padding-top: 60px;
        margin: 0 20px 28px;
        @include font-bold;
    }
}