.load__item {
    @for $i from 1 through $num-items {
        &--#{$i} {
            @include load-sequence;
            animation-delay: $load-delay * $i;
        }
    }
}

@keyframes items {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}