//loading spinner
@keyframes main-loader {
    0% {
        opacity: 0.1;
        z-index: -1;
    }
    80% {
        opacity: 0.1;
        z-index: -1;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
}

@keyframes letter-rotation {
    0% {
        opacity: 1;
        z-index: 1;
        transform: rotateY(0.5turn);
    }
    70% {
        opacity: 1;
        z-index: 1;
        transform: rotateY(2turn);
    }
    90% {
        opacity: 1;
        z-index: 1;
        transform: rotateY(2turn);
    }
    100% {
        opacity: 0;
        z-index: -1;
        transform: rotateY(2turn);
    }
}

@keyframes loader-bar {
    0% {
        opacity: 1;
        z-index: 1;
    }
    80% {
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes progress-bar {
    0% {
        opacity: 1;
        z-index: 1;
    }
    10% {
        opacity: 1;
        z-index: 1;
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(0.13);
    }
    30% {
        transform: scaleX(0.26);
        animation-timing-function: linear;
    }
    40% {
        transform: scaleX(0.39);
        animation-timing-function: linear;
    }
    50% {
        transform: scaleX(0.52);
    }
    55% {
        transform: scaleX(0.65);
        animation-timing-function: linear;
    }
    60% {
        transform: scaleX(0.78);
    }
    70% {
        transform: scaleX(1);
        opacity: 1;
        z-index: 1;
        animation-timing-function: linear;
    }
    80% {
        transform: scaleX(1);
        opacity: 1;
        z-index: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
        z-index: -1;
    }
}

//favorites
@keyframes trans-heart {
    0% {
        color: $color_reverse;
    }
    100% {
        color: lighten($color_primary, 15);
    }
}

//loading menus
@keyframes items {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

//choices
@keyframes item-click {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}