@mixin color-darken ($color, $amount) {
    color: darken($color, $amount);
}

@mixin backcolor-lighten ($color, $amount) {
    background-color: lighten($color, $amount);
}

@mixin backcolor-darken($color, $amount) {
    background-color: darken($color, $amount);
}

@mixin button-hover($color_back, $color_1, $color_2, $amount) {
    box-shadow: 3px 3px 3px lighten($color_back, $amount);
    background: linear-gradient(to bottom right, lighten($color_2, $amount), lighten($color_1, $amount));
}

@mixin load-sequence {
    animation: items $load-duration ease-in-out backwards;
}