@mixin color-darken ($color, $amount) {
    color: darken($color, $amount);
}

@mixin font-bold {
    font-weight: bold;
}

@mixin backcolor-lighten ($color, $amount) {
    background-color: lighten($color, $amount);
}

@mixin backcolor-darken($color, $amount) {
    background-color: darken($color, $amount);
}