@mixin color-darken ($color, $amount) {
    color: darken($color, $amount);
}

@mixin backcolor-lighten ($color, $amount) {
    background-color: lighten($color, $amount);
}

@mixin backcolor-darken($color, $amount) {
    background-color: darken($color, $amount);
}

@mixin button-hover {
    box-shadow: 1px 1px 5px $color_background;
}