    .card-rest {
        display: flex;
        flex-direction: column;
        background-color: $color_quaternary;
        box-shadow: 2px 3px 18px lighten($color: $color_background, $amount: 40);
        margin: 0 20px 18px;
        border-radius: 15px;
        width: auto;
        height: 250px;
        text-decoration: none;
        color: #000000;
        &__pocket {
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 175px;
            overflow: hidden;
            margin-bottom: 20px;
            &--img-cover {
                object-fit: cover;
                width: 100%;
                height: 175px;
            }
        }
        &__description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 25px 20px 15px;
            &--weight {
                font-weight: bold;
            }
            &--color {
                @include font-color-light;
            }
            &__heart {
                @include font-color-light;
                margin-top: 5px;
            }
        }
    }