header {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    margin-bottom: 3px;
    img {
        height: 1.8rem;
    }
}

.header-restxxx {
    position: relative;
    &__a--font {
        @include color-darken($color_background, 20);
        font-size: 1.2rem;
        position: absolute;
        top: 22px;
        left: 25px;
    }
}