.flyer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__pocket {
        width: 100%;
        height: 260px;
        overflow: hidden;
        &--img-cover {
            object-fit: cover;
            width: 100%;
            height: 260px;
        }
    }
}

.menu {
    width: 100%;
    max-width: 800px;
    @include backcolor-lighten($color_background, 45);
    border-radius: 35px 35px 0 0;
    margin-top: -40px;
    &__title {
        display: flex;
        justify-content: space-between;
        margin: 40px 35px 40px 20px;
        font-family: 'Shrikhand';
        font-size: 1.1rem;
        @include media-menu__title;
        &__heart {
            @include color-darken($color_background, 10);
            margin-top: 5px;
            font-size: 1.5rem;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin: 0 10px 33px 13px;
        &__title {
            margin-left: 8px;
            text-transform: uppercase;
            @include color-darken($color_background, 10);
        }
        &__green-line {
            margin: 9px 10px 13px 8px;
            background-color: $color_tertiary;
            @include button-index (0, 40px, 4px, 0)
        }
    }
    &__command {
        text-align: center;
        text-decoration: none;
        color: $color_reverse;
        font-weight: bold;
        margin: auto;
        background: linear-gradient(to bottom right, $color_secondary, $color_primary);
        margin: 0 auto 60px;
        @include button-index(15px, 186px, 20px, 40px);
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $color_reverse;
    text-decoration: none;
    margin-bottom: 12px;
    @include button-index (0, 100%, 70px, 15px);
    &__description {
        margin: 15px 0 15px 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &--font {
            @include color-darken($color_background, 40);
            margin-bottom: 2px;
            font-size: 1.1rem;
            font-weight: bold;
        }
        &--color {
            @include color-darken($color_background, 10);
            font-size: 0.95rem;
        }
        &__price {
            @include color-darken($color_background, 40);
            margin: 0 22px 15px 0;
            font-weight: bold;
        }
    }
}