.flyer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__pocket {
        width: 100%;
        height: 260px;
        overflow: hidden;
        &--img-cover {
            object-fit: cover;
            width: 100%;
            height: 260px;
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    @include backcolor-lighten($color_background, 45);
    border-radius: 35px 35px 0 0;
    margin-top: -40px;
    &__title {
        display: flex;
        justify-content: space-between;
        margin: 40px 35px 40px 20px;
        font-family: 'Shrikhand';
        font-size: 1.1rem;
        @include media-menu__title;
        &__heart {
            @include color-darken($color_background, 10);
            margin-top: 5px;
            font-size: 1.5rem;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin: 0 10px 45px 13px;
        &__title {
            margin-left: 8px;
            text-transform: uppercase;
            @include color-darken($color_background, 10);
        }
        &__green-line {
            margin: 9px 10px 13px 8px;
            background-color: $color_tertiary;
            @include button-index (0, 40px, 4px, 0)
        }
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $color_reverse;
    text-decoration: none;
    position: relative;
    @include button-index (0, 100%, 100%, 15px);
    &:not(:last-child) {
        margin-bottom: 12px;
    }
    &:hover {
        @include button-hover($color_background, $color_reverse, $color_reverse, 10);
        & .item__description__choice-button {
            width: 72px;
        }
        & .click__check {
            animation: item-click 500ms both;
        }
        & .item__description__price {
            right: 72px;
            &--amount {
                margin-right: 10px;
            }
        }
        & .item__description {
            transition: 500ms;
            width: 60%;
            &--font {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        margin: 15px 0 15px 12px;
        width: 80%;
        @include media-item-description;
        &--font {
            @include color-darken($color_background, 40);
            margin-bottom: 2px;
            font-size: 1.1rem;
            font-weight: bold;
        }
        &--color {
            @include color-darken($color_background, 10);
            font-size: 0.95rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__price {
            @include color-darken($color_background, 40);
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            border: none;
            position: absolute;
            right: 0;
            transition: right 500ms;
            border-radius: 0 15px 15px 0;
            width: 72px;
            height: 100%;
            font-weight: bold;
            &--amount {
                margin: 0 25px 15px 0;
                transition: margin-right 500ms;
            }
        }
        &__choice-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            position: absolute;
            right: 0;
            border-radius: 0 15px 15px 0;
            width: 0;
            transition: width 500ms;
            height: 100%;
            background-color: $color_tertiary;
            overflow: hidden;
            &__check {
                border: 1px solid $color_reverse;
                border-radius: 30px;
                color: $color_tertiary;
                background-color: $color_reverse;
                font-size: 1.2rem;
                width: 29px;
                padding: 5px 0;
                text-align: center;
            }
        }
    }
}

.click__check {
    transform: rotate(0turn);
}

.load__item {
    @for $i from 1 through $num-items {
        &--#{$i} {
            @include load-sequence;
            animation-delay: $load-delay * $i;
        }
    }
}

.command {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $color_reverse;
    font-weight: bold;
    margin: auto;
    background: linear-gradient(to bottom right, $color_secondary, $color_primary);
    margin: 0 auto 60px;
    @include button-index(15px, 186px, 20px, 40px);
    &:hover {
        @include button-hover($color_background, $color_primary, $color_secondary, 2);
    }
}