.main-index {
    opacity: 1;
    z-index: 1;
    animation: main-loader $duration;
}

.spin-title {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    text-align: center;
    font-family: 'Shrikhand';
    color: #000000;
    font-weight: bold;
    font-size: 1.8rem;
    &__letter {
        opacity: 0;
        z-index: -1;
        display: inline-block;
        transform: rotateY(0turn);
        &-1 {
            animation: letter-rotation $duration-1 $delay-1;
            @include color-darken ($color_primary, $delay-1 / 40);
        }
        &-2 {
            animation: letter-rotation $duration-2 $delay-2;
            @include color-darken ($color_primary, $delay-2 / 40);
        }
        &-3 {
            animation: letter-rotation $duration-3 $delay-3;
            @include color-darken ($color_primary, $delay-3 / 40);
        }
        &-4 {
            animation: letter-rotation $duration-4 $delay-4;
            @include color-darken ($color_primary, $delay-4 / 40);
        }
        &-5 {
            animation: letter-rotation $duration-5 $delay-5;
            @include color-darken ($color_primary, $delay-5 / 40);
        }
        &-6 {
            animation: letter-rotation $duration-6 $delay-6;
            @include color-darken ($color_primary, $delay-6 / 40);
        }
        &-7 {
            animation: letter-rotation $duration-7 $delay-7;
            @include color-darken ($color_primary, $delay-7 / 40);
        }
        &-8 {
            animation: letter-rotation $duration-8 $delay-8;
            @include color-darken ($color_primary, $delay-8 / 40);
        }
    }
}

.bar {
    z-index: -1;
    opacity: 0;
    position: relative;
    animation: loader-bar $duration;
    position: absolute;
    top: 50%;
    left: 15%;
    border: 2px solid #000000;
    height: 10px;
    width: 70%;
    &--progression {
        z-index: -1;
        opacity: 0;
        background: linear-gradient(to right, #ff83dd, #985ede);
        transform: scaleX(0);
        transform-origin: left;
        animation: progress-bar $duration;
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        width: 100%;
    }
}